.playspace-container {
    position: relative;
    top:0px;
    width: 100%; 
    height: 60%;  
    overflow-y: auto;
}

.playspace-felt-bound {
    position: relative;
    height: 55.5vh;
    max-width: 93vh;
    margin: auto;
}

.playspace-felt {
    position: absolute;
    width: 98%;
    max-width: 93vh;
    padding-bottom: 55%;
    background: green;
    border-radius: 5px;
    border: 5px;
    margin: auto auto auto 1%;
    height: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
}

.player-hand {
    position: absolute;
    height: 20%;
    width: 30.4%;
    left: 34.8%;
    bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

img {
    position: absolute;
    max-height: 100%;
}