
.chat-container {
    position: relative;
    bottom:0px;
    width: 100%; 
}

.chat-input {
    padding-top: 20px;
    width: 80%; 
    height:80px;
}

.chat-list-wrapper {
    overflow-y: scroll;
    top: 10px;
    left: 25px;
    right: 25px;
    flex:1;
}

.chat-list-me {
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    background-color: #E8E8F6;
}

.chat-list-other {
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    background-color: #E8F6E8;
}

.main-card {
    height: 100%;  
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.channel-card {
    height: 100%;  
    box-sizing: border-box;
}

.chat-footer-container {
    bottom:0px;
    left:25px;
    right:25px;
    height: 90px;
}

.chat-notification {
    text-align: center;
}

.collapse-button {
    margin-left: auto;
}