<mat-drawer-container class="chat-container" [style.height]="currentSize">
  <mat-drawer mode="side" opened="true" class="channel-drawer">
    <mat-list class="channel-list">
      <mat-list-item>
        <p [style.font-style]="'italic'">Channel list</p>
      </mat-list-item>
      <mat-list-item *ngFor = "let channel of channelList.Channels">
        <p [style.font-weight]="channel.selected ? 'bold' : 'normal'" (click)="selectChannel(channel.channelName)">
          {{channel.channelName}}
        </p>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-card class="main-card">
      <button mat-icon-button (click)="toggleSize()">
        <mat-icon>{{currentIcon}}</mat-icon>
      </button>
      <div class="chat-list-wrapper"  #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <mat-list *ngIf="channelList.selectedChannel" class="chat-list">
          <mat-list-item *ngFor="let message of channelList.selectedChannel.messages" [ngClass]="[message.action === undefined ? (message.from.id === user.id ? 'chat-list-me': 'chat-list-other') : '']">
            <!---<img mat-list-avatar *ngIf="message.action === undefined" [src]="message.from.avatar">-->
            <h4 mat-line *ngIf="message.action === undefined">
              <b>{{message.from.name}}:</b> {{message.content}}
            </h4>
            <p mat-line *ngIf="message.action === action.JOINED" class="chat-notification">
              <span> <b>{{message.from.name}}</b> joined to the conversation. </span>
            </p>
            <p mat-line *ngIf="message.action === action.RENAME" class="chat-notification">
              <span> <b>{{message.content.previousUsername}}</b> is now <b>{{message.content.username}}</b> </span>
            </p>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="chat-footer-container">
        <mat-icon>message</mat-icon>
        <mat-form-field class="chat-input">
          <input matInput 
                #inputMessage 
                maxlength="140" 
                placeholder="Type your message" 
                [(ngModel)]="messageContent" 
                (keyup.enter)="sendMessage()">
          <mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint>
        </mat-form-field>
      </div>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
