<div *ngFor="let card of cards; let i = index"
  class="player-card" 
  [style.left.%]="computeLeft(card, i)" 
  [style.top.%]="card.isSelected ? 70 : 80"
  [style.zIndex] = "-1"
  (click)="clicked(card, i)"
  [@dealCard]
  (@dealCard.done)="card.flip()"
  [@flipCard]="card.face">
  <img  src="./assets/img/deck/{{card.imageSrc}}" 
        style="position:absolute; height: 100%; top: 0; width: 100%; left: 0; backface-visibility: hidden;opacity: .99">
  <img  src="./assets/img/deck/back.png" 
        style="position:absolute; height: 100%; top: 0; width: 100%; left: 0; backface-visibility: hidden; transform: rotateY(180deg); opacity: .99">
</div>