
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
    margin: 5% 15% auto;
    width: 70%;
    height: 70%;
    text-align: center;
    z-index: 11;
    position: absolute;
}

mcg-cardrow {
    position: relative;
    width: 100%
}

.cardrow-container {
    height: 30%;
    display: flex;
}

.skat-label {
    right: 65%;
    position: absolute;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-title { justify-content: center; }
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-content { justify-content: center; }
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-footer { justify-content: center; }
