<div class="selectpanel-container">
  <mat-card>
    <mat-card-title>{{gameType}}: Select Game</mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="8" rowHeight="50px">
        <mat-grid-tile colspan="2" rowspan="1">
            Turn:
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="1">
          <button mat-raised-button type="button" [color]="getColor('Turn')" (click)="selectGame('Turn')">Turn</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <button mat-raised-button type="button" [color]="getColor('Guetz')" (click)="selectGame('Guetz')">Guetz</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          Solo:
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="2">
          <button mat-raised-button type="button" [color]="getColor('Clubs')"(click)="selectGame('Clubs')">C</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="2">
          <button mat-raised-button type="button" [color]="getColor('Spades')" (click)="selectGame('Spades')">S</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="2">
          <button mat-raised-button type="button" [color]="getColor('Hearts')" (click)="selectGame('Hearts')">H</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="2">
          <button mat-raised-button type="button" [color]="getColor('Diamonds')" (click)="selectGame('Diamonds')">D</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <button mat-raised-button type="button" [color]="getColor('Grand')" (click)="selectGame('Grand')">Grand</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">

        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
            <button mat-raised-button type="button" [color]="getColor('GrandOvert')" (click)="selectGame('GrandOvert')">Grand Overt</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <button mat-raised-button type="button" [color]="getColor('Null')" (click)="selectGame('Null')">Null</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <button mat-raised-button type="button" [color]="getColor('NullOvert')" (click)="selectGame('NullOvert')">Null Overt</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <button mat-raised-button type="button" [color]="getColor('Ramsch')" (click)="selectGame('Ramsch')" [disabled]="canRamsch">Ramsch</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <div style='width: 100%'>
              <mat-checkbox [disabled]="!canDeclare()" [(checked)]="myGame.declarations.schneider" (change)="validateSchneider()">Declared Schneider</mat-checkbox>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="6" rowspan="1">

        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
          <div style='width: 100%'>
            <mat-checkbox [disabled]="!canDeclare()" [(checked)]="myGame.declarations.schwarz" (change)="validateSchwarz()">Declared Schwarz</mat-checkbox>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="5" rowspan="1">

        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <button mat-raised-button type="button" (click)="confirmSelection()">Confirm</button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-footer>
      <span [style.font-weight]="bold"> Total bid: {{winningBid === 5 ? '-' : winningBid}} </span>
    </mat-card-footer>
  </mat-card>
</div>