<mcg-hand *ngIf="users[1]" [player]="users[1]" [zIndex] = "zIndexes[1]" [location]="'left'"></mcg-hand>
<mcg-hand *ngIf="users[2]" [player]="users[2]" [zIndex] = "zIndexes[2]" [location]="'top'"></mcg-hand>
<mcg-hand *ngIf="users[3]" [player]="users[3]" [zIndex] = "zIndexes[3]" [location]="'right'"></mcg-hand>
<mcg-hand *ngIf="users[0]" [player]="users[0]" [zIndex] = "zIndexes[0]" [location]="'bottom'"></mcg-hand>
<mcg-bidpanel *ngIf="bidding" [gameType] = "gameType" [trumpCard]="trumpCard" [users]="users" [dealerId]="dealerId" [totalTricks]="totalTricks"></mcg-bidpanel>
<mcg-selectpanel *ngIf="selectingGame" [gameType]="gameType" [winningBid]="winningBid"></mcg-selectpanel>
<mcg-turnpanel *ngIf="doingTurn" [firstCard]="turnCards[0]" [secondCard]="turnCards[1]"></mcg-turnpanel>
<mcg-discardpanel *ngIf="discarding" (onDiscard)="sendDiscards()"></mcg-discardpanel>
<mcg-showgamepanel *ngIf="showingGame" [selectedGame]="selectedGame" [bidder]="winningBidder" [winningBid]="winningBid"></mcg-showgamepanel>
<mcg-showgamecompact *ngIf="playing" [selectedGame]="selectedGame" [bidder]="winningBidder" [winningBid]="winningBid"></mcg-showgamecompact>
<mcg-selectsortcontrol></mcg-selectsortcontrol>