
.hand-wrapper {
    overflow-y: hidden;
    overflow-x: visible;
    width: 100%;
    height: 100%;
    position: absolute;
    perspective: 800px;
    pointer-events: none;
}

.player-card {
    position: absolute;
    height: 40%;
    width: 18%;
    transform-style: preserve-3d;
    pointer-events: auto;
}

.nameplate {
    position: relative;
    overflow-y: visible;
    top: 93%;
    height: 7%;
    min-width: 10%;
    max-width: 40%;
    margin: auto;
    border: 5px;
    border-radius: 3px;
    background-color: lightblue;
    border-color: darkgray;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 100%;
}