
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
    margin: 0 auto 0 0;
    width: fit-content;
    text-align: center;
    white-space: nowrap;
    z-index: 11;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-content { justify-content: center; display: inline-block;}
