<mat-card appearance="outlined">
  <mat-card-subtitle
   [style.font-weight]="activeTurn ? 'bold' : 'normal'"
   [style.background-color]="activeTurn ? 'yellow' : 'white'">
      {{player.name}}
  </mat-card-subtitle>
  <mat-card-content *ngIf="myFormControl">
      <mat-form-field style="width: 70px" >
        <input matInput [formControl]="myFormControl" placeholder="Bid" type="number" [min]="minBid >= 0 ? minBid : undefined" [max]="maxBid > 0 ? maxBid : undefined" [value]="myValue" [readonly]="!canEditBid" (keyup.enter)="sendBid()">
        <mat-error *ngIf="myFormControl.errors">
          {{myFormControl.errors?.errorMsg}}
        </mat-error>
      </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
      <button mat-button type="button" [disabled]="!canBid" (click)="sendBid()">{{bidButtonText}}</button>
      <button mat-button type="button" *ngIf="bidMode" [disabled]="!canBid" (click)="sendPass()">PASS</button>
    </mat-card-actions>
</mat-card>