<div class="tablespace-container">
  <div class="tablespace-felt-bound">
    <div class="tablespace-felt">
      <button (click)="onDealClick()">Deal me in!</button>
      <div class="player-hand">
        <div class="hand-wrapper">
          <img *ngFor="let card of hand; let i = index" 
            src="{{card.imageString}}" 
            class="player-card" 
            [style.left.%]="(i * 3.3) + ((26 - hand.length) * 1.65)" 
            [style.top.%]="(!card.isSelected) * 25"
            (click)="onClick(card, i)">
        </div>
      </div>
    </div>
  </div>
</div>
