<div class="tablespace-container">
  <div class="tablespace-felt-bound">
    <div class="tablespace-felt">
      <button (click)="onDealClick()">Deal me in!</button>
      
      <div class="lobby-container">
        <mcg-lobby></mcg-lobby>
      </div>
      <div class="player-hand">
        <mcg-hand [player]="'opponent'" [location]="'top'"></mcg-hand>
        <mcg-hand [player]="'opponent2'" [location]="'left'"></mcg-hand>
        <mcg-hand [player]="'opponent3'" [location]="'right'"></mcg-hand>
        <mcg-hand [player]="user" [location]="'bottom'"></mcg-hand>
      </div>
    </div>
  </div>
</div>
