<div class="lobby-container">
    <mat-table #table [dataSource]="this.lobbyTables">

      <ng-container *ngFor="let dir of ['South', 'West', 'North', 'East']; let j = index" [matColumnDef]="dir">
        <mat-header-cell *matHeaderCellDef> {{dir}} </mat-header-cell>
        <mat-cell *matCellDef="let table; let i = index">
          <button *ngIf="!table.users[j]?.name" mat-raised-button color="primary" (click)="onSeatClick(i, j)">Sit here</button>
          <button *ngIf="table.users[j]?.name" mat-raised-button color="accent">{{table.users[j].name}}</button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="gameType">
        <mat-header-cell *matHeaderCellDef> Game </mat-header-cell>
        <mat-cell *matCellDef="let table; let i = index" >
          <mat-form-field>
            <mat-select [value]="getGameType(table)" required [disabled]="!isMyTable(table)" (selectionChange)="onGameSelected(i, $event.value)">
              <mat-option *ngFor="let type of gameTypes" [value]="type" [disabled]="false">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="start">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let table; let i = index">
            <button [disabled]="table.active" mat-button (click)="onStartClick(i)">Start game!</button>
          </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
    </mat-table>
</div>