<div class="bidpanel-container">
  <mat-card>
    <mat-card-title>Oh Hell: Bidding</mat-card-title>
    <mat-card-content>
      <mat-grid-list [cols]="calculateCols()" rowHeight="220px">
        <mat-grid-tile
            *ngFor="let player of players"
            [colspan]="1"
            [rowspan]="1">
            <mat-card>
              <mat-card-subtitle>
                  {{player.name}}
              </mat-card-subtitle>
              <mat-card-content>
                  <mat-form-field>
                    <input matInput placeholder="Bid" type="number" [readonly]="!canBid(player)" (keyup.enter)="sendBid($event)">
                  </mat-form-field>
              </mat-card-content>
              <mat-card-actions>
                  <button mat-button type="submit" [disabled]="!canBid(player)">BID</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="trumpUiCard">
              <div style="width: 100%; height: 100%">
                <H1 style="text-align: center">Trumps:</H1>
                <img src="./assets/img/deck/{{trumpUiCard.imageSrc}}" style="position:absolute; max-height: 70%; max-width: 100%; left: 0; right: 0; bottom: 0; margin: 0 auto" >
              </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-footer>
      <p> Total bid: {{totalBid}} Total tricks: {{totalTricks}}</p>
      
    </mat-card-footer>
  </mat-card>
</div>